<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NEventStore" version="5.2.0" targetFramework="net452" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net451" />
  <package id="xunit" version="1.9.1" targetFramework="net452" />
  <package id="xunit.should" version="1.1" targetFramework="net452" />
</packages>